.page-header {
    text-align: center;
}

.panel-heading{
    text-align: center;
}

.btn-group-lg {
   margin: auto;  
}

.bottom{
   margin: 0 auto;
    text-align: left;
    width: 800px;
}

#sign{
    margin:0 auto;
    text-align: center;
    font-size: 50px;
}

#ndnumber, #stnumber{
    margin:0 auto;
    text-align: center;
    font-size: 50px;
}

#right {
    padding-top: 20px;
    margin:0 auto;
    text-align: center;
    height: 300px;
}