.page-header {
    text-align: center;
}

.panel-heading{
    text-align: center;
}

#sign{
    margin:0 auto;
    text-align: center;
    font-size: 40px;
}

#ndnumber, #stnumber, #bottom {
    margin:0 auto;
    text-align: center;
    font-size: 40px;
}

#start {
    font-size: 40px;
    position: relative;
    width: 100%;
}

input{ 
text-align:center; 
width: 250px;
height: 50px;
}